<div class="container">
  <div class="row">
    <div class="col-md-9">
        <table class="table table-h">
          <thead>
            <tr>
              <th></th>
              <th>Produto</th>
              <th>Quantidade</th>
              <th>Preço</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let p of produtos">
              <td><img src="../../../../../arquivos/{{p.nomeArquivo}}" style="width:50px; height:50px;" /></td>
              <td>{{p.nome}}</td>
              <td style="width:10%">
                <input type="number" class="form-control" value="1" (change)="atualizarPreco(p, $event.target.value)"
                       [(ngModel)]="p.quantidade" placeholder="1" />
              </td>
              <td>R$ {{p.preco | number : '1.0-2'}}</td>
              <td><button class="btn btn-secondary btn-sm" (click)="removerProduto(p)">Remover</button></td>
            </tr>
          </tbody>
        </table>
    </div>
    <div class="col-3">
      <div class="row">
        <div class="card">
          <div class="card-header mb-2">Resumo</div>
          <div class="card-body mb-2"><strong>Total: R$ {{Total | number: '1.0-2'}}</strong></div>
          <button type="button" class="btn btn-danger" (click)="efetuarCompra()">Efetivar Compra</button>
        </div>
      </div>
    </div>
  </div>
</div>
