<h1 class="h4 titulo">Cadastro de produtos</h1>
<form>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label>Nome</label>
      <input type="text" class="form-control" id="Nome" name="nome"
             placeholder="Informe seu Nome"
             [ngClass]="{
             'is-invalid': nome.invalid && (nome.dirty || nome.touched),
             'is-valid': nome.valid && (nome.dirty || nome.touched)
             }"
             [(ngModel)]="usuario.nome"
             #nome="ngModel"
             required />
    </div>
    <div class="form-group col-md-6">
      <label for="inputAddress2">Sobrenome</label>
      <input type="text" class="form-control" id="sobreNome" name="sobre Nome"
             placeholder="Informe seu Sobrenome"
             [ngClass]="{
             'is-invalid': sobreNome.invalid && (sobreNome.dirty || sobreNome.touched),
             'is-valid': sobreNome.valid && (sobreNome.dirty || sobreNome.touched)
             }"
             [(ngModel)]="usuario.sobreNome"
             #sobreNome="ngModel"
             required />
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputSenha">Senha</label>
      <input type="password" id="inputSenha" name="senha"
             placeholder="Informe sua Senha"
             class="form-control"
             [ngClass]="{
           'is-invalid':senha.invalid && (senha.dirty || senha.touched),
           'is-valid': senha.valid && (senha.dirty || senha.touched)
           }"
             [(ngModel)]="usuario.senha"
             #senha="ngModel"
             minlegth="8" />

    </div>

    <div class="form-group col-md-6">
      <label for="confirmasenha">Confirme senha</label>
      <input type="password" class="form-control" id="cornfirmarsenha" name="confirmasenha"
             placeholder="Confirme sua Senha"
             [(ngModel)]="confirmasenha"
             #confirmaSenha="ngModel"
             minlength="8" />
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail" class="sr-only">Email</label>
      <input type="text" id="inputEmail" name="email"
             placeholder="Informe seu Email"
             class="form-control mb-2"
             [ngClass]="{
           'is-invalid':email.invalid && (email.dirty || email.touched),
           'is-valid': email.valid && (email.dirty || email.touched)
           }"
             [(ngModel)]="usuario.email"
             #email="ngModel"
             required
             email>
    </div>

  </div>
  <button class="btn btn-primary btn-block col-md-6" type="submit" (click)="cadastrar()" [disabled]="ativarSpinner">
    Gravar
    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="ativarSpinner"></span>
  </button>
  <div>  <a [routerLink]='["/entrar"]'>Voltar</a></div>
</form>
<div class="alert alert-danger" *ngIf="email.invalid && (email.dirty || email.touched)">
  <div *ngIf="email.errors.required">
    O email deve ser preenchido!
  </div>
  <div *ngIf="email.errors.email">
    O Endereço de email está em formato incorreto!
  </div>
</div>
<div class="alert alert-danger" *ngIf="senha.invalid && (senha.dirty && senha.touched)">
  <div *ngIf="senha.errors.minlength">
    A senha deve ser conter 8 caracteres!
  </div>
</div>
<div class="alert alert-danger" *ngIf="mensagem">
  {{mensagem}}
</div>
<div class="alert alert-success" *ngIf="usuarioCadastrado">
  Usuário cadastrado com sucesso! <a class="alert-link" [routerLink]='["/entrar"]'>Clique aqui</a> para entrar no sistema!
</div>

